body
{
	background-attachment: fixed;
    background-image: url("img/calculator-385506_1920.jpg");
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: hsl(0,0%,10%);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
	overflow-x: hidden;
	color: white;
	/* Photo by Karol D from Pexels 
	background-image: url("img/abstract-art-artistic-1103970.jpg");
	background-attachment: fixed;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;*/
}


h1
{
	font-weight: bold;
	margin-bottom: 25px;

}

.glyphicon
{
	background-color: #4e4e4e;
	padding: 10px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	font-size: 16px;
	height: 40px;
	top: 0;
}

.rectangle
{
	text-align: center;
	padding: 8px;
	/*margin-bottom: 20px;*/
	background-color: #222222;
	opacity: 0.75;
	
	/*background-image: url("img/texture-1981129_1280.jpg");*/
}

#logo
{
	font-size: 36px;
	color: white;
}

.login-icon
{
	font-size: 14px;
	height: 30px;
	background-color: transparent; 
	padding-right:0px; 
	margin-right:0px;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.myLoginInputs
{
	color: black;
	max-width: 150px;
	height: 30px;
	font-size: 14px;
	border: 0.5px solid black;
	padding: 3px;
	margin-left:0px;
}
.myLoginInputs:focus
{

}
.myLoginInputs[type=submit]
{
	color: white;
	margin-top: 3px;
	margin-left: 10px;
	width: 120px;
	background-color: transparent;
	cursor: pointer;
	outline: none;


}
.myLoginInputs[type=submit]:hover
{

}

.regLink
{
	max-width: 250px;
	width: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px
}

.registerForm
{
	margin-left: auto;
	margin-right: auto;
	max-width: 450px;
	font-size: 22px;
	margin-top: 50px;
	text-align: center;
	padding-top: 15px;
	opacity: 0.75;
}

.myRegisterInputs
{
	height: 40px;
	font-size: 16px;
	border: solid 3px #4e4e4e;
	padding: 2px;
}
.myRegisterInputs[type=text]
{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	color: black;
}
.myRegisterInputs:focus
{
	outline: none;

}

.myRegisterInputs[type=submit]
{
	height: 44px;
	width: 160px;
	font-size:20px;
	color: white;
	margin-top: 30px;
	margin-bottom: 40px;
	cursor: pointer;
}
.myRegisterInputs[type=submit]:hover
{
	
}

.captcha
{
	padding-left: 0px;
	width: 306px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #4e4e4e;
	border-radius: 5px;
}

.topnav 
{
	background-color: #222222;
	opacity: 0.75;
	transition: opacity 0.4s linear;
}

.topnav:hover
{
	opacity: 0.9;
	transition: opacity 0.3s linear;
}

.nav-item
{
	color: white;
	text-align: center;
	padding: 10px 2px;
	border: solid 0.5px white;
	border-bottom: solid 1px transparent;
	border-top: solid 1px transparent;
}

.nav-item:hover
{
	cursor: pointer;
	background-color: #4e4e4e;
	border: solid 1px white;
}

.nav-icon
{
	background-color: transparent;
	margin: 2px;
	padding: 2px;
	height: 16px;
}

.topnav .nav-item:not(.hamburger):hover
{
}
.topnav .hamburger
{
	color: white;
	display: none;
	font-size: 16px;
}
.topnav .hamburger:hover 
{
	cursor: pointer;
}

@media screen and (max-width: 992px) 
{
	.topnav .nav-item 
	{
		display: none;
	}
	.topnav .hamburger 
	{
		float: right;
		display: block;
	}
}

@media screen and (max-width: 992px) 
{
	.topnav.responsive
	{
		position: relative;
	}
	
	.topnav.responsive .hamburger 
	{
		position: absolute;
		right:0;
		top:0;
		color: white;
	}
	
	.topnav.responsive .nav-item 
	{
		float: none;
		display: block;
		text-align: center;
	}
}


#login
{
	padding-top: 12px;
}



.menu-icon
{
	height: 26px;
	font-size: 20px;
	background-color: transparent; 
	padding: 2px;
}



#footer
{
	background-color: #44ab53;
	min-width: 1000px;
	margin-top: 40px;
	text-align: center;
	border: 1.5px solid #222;
	border-radius: 15px;
	-webkit-box-shadow: inset 0px 0px 41px 9px rgba(18,18,17,1);
	-moz-box-shadow: inset 0px 0px 41px 9px rgba(18,18,17,1);
	box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
	text-shadow: 1px 1px 20px white,	
						  0px 1px 0px black;
}

#tableContainer
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	font-size: 17px;
	max-width: 500px;
	min-width: 300px;
	padding-bottom: 10px;
}

.dropdownMenuContainer
{
	background-color: transparent;
	margin-top: 35px;
	margin-bottom: -55px;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}

.tableHead
{
	padding: 5px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	font-size: 26px;
	text-shadow: 2px 2px 25px white;
	color: #d8d7d8;	
	text-shadow:
	1px 1px 0px black,
	-1.5px -1.5px 0px black,
	-1.5px 1.5px 0px black,
	1px -1px 0px black;	
}

.expenseTable
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	/*border-collapse: collapse; */
	margin-bottom: 15px;
}

.expenseTable td
{
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
}

.amountGetting,
.dateGetting
{
	color: black;
	width: 143px;
	height: 30px;
	font-size: 15px;
	text-align: right;
	padding: 2px;
	box-sizing: border-box;
	border: 1.5px solid #4e4e4e;
}

.amountGetting:focus,
.dateGetting:focus
{
	outline: none;
}

.commentGetting
{
	color: black;
	width: 150px;
	height:58px;
	padding: 2px;
	font-size: 15px;
	text-align: left;
	border: 1.5px solid #4e4e4e;
	
}
.commentGetting:focus
{
	outline: none;
}

.nameGetting
{
	max-width: 150px;
	height: 30px;
	margrgin-left:auto;
	margrgin-right:auto;
	
}

.centerInput 
{
	margin-left:auto;
	margin-right: auto;
	text-align:center;
}

.option
{
	margin-left: 3px;
	color: white;
}

.option > label
{
	font-weight: normal;
	cursor: pointer;
}

.option > label > input
{
	margin-right: 3px;
}

.attributes
{
	margin-left: auto;
	margin-right: auto;
	max-width: 160px;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
	border: 1.5px solid #222;
	text-align: center;
	color: #d8d7d8;
}

.buttons
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
.add, .cancel
{
	color: white;
	border: solid 1px white;
	border-bottom: solid 1px transparent;
	border-top: solid 1px transparent;		
	background-color: #222222;
	opacity: 0.75;
	transition: opacity 0.4s linear;
	width: 50%;
}

.noLeftBorder
{
	border-left-color: transparent;
}

.noRightBorder
{
	border-right-color: transparent;
}

.add:hover, .cancel:hover
{
	cursor: pointer;
	background-color: #4e4e4e;
	border: solid 1px white;
	opacity: 0.9;
	transition: opacity 0.3s linear;
}



.dropdownMenu 
{
	background-color: transparent;
	padding: 0px;
	float: right;
	margin-bottom:8px;
	margin-top: 10px;
}

.dropdownMenu:hover #periods
{
    display: block;
}

.dropdownMenu:hover .dropButton
{

}

.dropButton 
{
	 width: 160px;
	height: 30px;
	background-color:  #4e4e4e;
	font-size: 15px;
	border: 2px solid transparent;
	border-left: solid 1px white;
	border-right: solid 1px white;
	cursor: default;
}

#periods
 {
	background-color: #222222;
    display: none;
    position: absolute; 
    width: 160px;
    z-index: 100;
	border-left: solid 1px white;
	border-right: solid 1px white;
}

.period
{
	padding:10px;
	border: none;
	width: 100%;
	color: white;
	text-align: center;
	padding: 10px 2px;
	border: solid 1px transparent;
	background-color: #222222;
	opacity: 0.75;
	transition: opacity 0.4s linear;
}

.customPeriod
{
	text-align: center;
	padding: 0px;
	margin: 0px;
}
.customPeriod > button[type=submit]
{
	width: 100%;
	max-width: 145px;
	margin: 10px 5px 10px 5px;
	height: 30px;
	font-weight: bold;
	text-decoration: none;
	
}

.period:hover
{
	cursor: pointer;
	background-color: #4e4e4e;
	border: solid 1px white;
	opacity: 0.9;
	transition: opacity 0.3s linear;
}

.left
{
float: left;
}

.right
{
float: right;
}
.balanceTable
{
	width: 95%;
	margin: 0px auto 10px auto;
	/*border-collapse: collapse; */
	padding: 10px;
}

.balanceTable tr
{
	font-size: 18px;
}

.balanceTable td
{
	padding: 2px;
	max-width: 180px;
}
.balanceTable td:first-child
{
	min-width: 84px;
}

.balanceTable td:last-child
{
	min-width: 52px;
}

.balanceTable tr:hover >td
{
	/*color: #183e1e;*/
}
.balanceTable tr:hover
{
	cursor: default;
}

.balance-icon
{
	display: inline;
	font-size: 16px;
	background-color: transparent; 
	padding:2px;
	margin: 1px;
	color: #4468ab;
	cursor: pointer;
}


.balanceTable tr:last-child > td
{
	padding: 20px 5px 15px 5px;
	color: #1133bb;
	font-weight: bold;
	font-size: 22px;
	border-top: 2px groove #44ab53;
}

.depiction
{
	color: #ed5543;
	font-size: 17px;
	text-shadow: none;
	margin-top: 5px;
	
}

.balance
{
	margin: 10px auto 10px auto;
	color: #1133bb;
	font-weight: bold;
	font-size: 24px;
}

.settingTable td:first-child
{
	width:38%;
}

.categoryEditTable
{
	width:96%;
	margin: 0px auto 20px auto;
	padding:1px;
	font-size: 16px;
	text-shadow:
	-0.5px 0.5px 0px #44ab53,
	0.5px -0.5px 0px #44ab53,
	-0.5px -0.5px 0px #44ab53;
}
.categoryEditTable tr:first-child td
{
	padding:5px 0px 10px 0px;
}
.categoryEditTable td
{
	min-width: 50px;

}
.editIcons
{
	width: 52px;
}

.categoryOption
{
	display:inline;
	padding: 3px;
	margin: 5px;
	color: #ab5344;
	text-shadow:
	-0.5px 0.5px 0px #ab4468,
	0.5px -0.5px 0px #ab4468,
	-0.5px -0.5px 0px #4468ab;
}

.position
{
	margin: 0 1px 0 1px;
	width: 40px;
	height: 21px;
}

.position >input
{
	margin-right:5px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  
}
.settingsModal
{
	/*background-image: url("img/brushed.png");
	padding: 20px 5px 5px 5px;*/
	color:white;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-shadow:
	-1px 1px 0px black,
	1px -1px 0px black,
	-1px -1px 0px black,
	1px 1px 0px black;
	
}

.settingsModal >input
{
	font-weight: normal;
	text-shadow: none;
}

.categoryNameGetting
{
	height:30px;
	width: 170px;
	font-weight: normal;
}

#successfulRegistration
{
	text-align: center;
	font-size: 24px;
	color:red;
	margin-top: 40px;
}

.error
{
	font-size: 15px;
	color: red;
	margin-top:4px;
}

.message
{
	width: 100%;
	height:16px;
	margin-bottom:-16px;
	text-align: center;
	font-size: 16px;
	font-weight:bold;
	color: #183e1e;
}

.return
{
	font-size: 20px;
	padding: 15px;
}

#piechart
{ 
	pointer-events: none;
	margin-bottom: 10px;
}

.edit
{
	margin: 5px 0 0 0;
	text-align: left;
}
.edit > input
{
	text-align: left;
}

.option a
{
	text-decoration:none;
	color: inherit;
}

.editClick:hover
{
	cursor: pointer; 
	background-color: #44bc53;
	color: #ededed;
}

.editButtons > input
{
	margin: 0 5px 0 5px;
	padding: 2px;
	font-size: 12px;
	width: 62px;
	height: 28px;
}
.pointer
{
	cursor: pointer;
}

.editLink
{
	color: inherit;
	font-size: 14px;
}

.noMargin
{
	margin:0px;
}
.noMargin >input
{
	margin: 1px 0;
}


.lastDataTableContainer
{
	width: 94%;
	margin: 3%;
}

.lastDataEdit
{
	width:100%;
    margin-left:auto; 
    margin-right:auto; 
	font-size: 15px;
}

.lastDataEdit th
{
	padding-bottom: 5px;
}

.lastDataEdit td
{
	padding-bottom: 3px;
	min-width: 88px;
}
.lastDataEdit td:first-child
{
	min-width: 18px;
}
.arrow
{
	font-size: 45px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.arrow:hover
{
	font-weight: bold;
}


.editFormTable
{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	max-width: 200px;
	
}

.editFormTable td
{
	font-size: 17px;
	padding: 0px;
	min-width: 100px;
	font-weight: bold;
	vertical-align: middle;
}

.editFormInputs
{
	width: 160px;
	margin-top: 7px;
	margin-bottom:7px;
}

#logInfo
{
	color: #ddd;
	margin-top: 18px;
	font-size: 14px;
}



.mainImage 
{
	/*background-image: url("img/budget.jpg");
	width: 100%;
	height:100%;*/
	position: relative;
}

.mainImage >img
{
	width: 100%;
	border-radius: 15px;
	opacity: 0.3;
	filter: alpha(opacity=30); 
	 -webkit-filter: blur(3.5px); /* Safari 6.0 - 9.0 */
	filter: blur(3.5px);
}

.quotation
{
	position: absolute;
	 top:50%;
	 letf: 50%;
	 font-size: 17px;
	 font-weight: bold;
	 color: white;
	 text-shadow: 1px 1px 2px black,
						  -1px 1px 2px black,
						  1px -1px 2px black,
						  -1px -1px 2px black;	
}
.author
{
	color: #4468ab;
	text-shadow: 1px 1px 1px white,
						  -1px 1px 1px white,
						  1px -1px 1px white,
						  -1px -1px 1px white;	
	float:right;
}

.intro
{
	font-size: 17px;
	padding: 15px;
	text-align: justify;
	text-justify: inter-word;
}



.limitInfo
{
	max-width: 100%;
	margin-top: -15px;
	margin-bottom: 10px;
	font-size: 13px;
	background-color: green;
}

.red
{
	background-color: #cd4353;
}