body
{
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/brushed.png");
	font-family: 'Lato', sans-serif;
}

h1
{
	font-weight: bold;

}

.glyphicon
{
	background-color: #44ab53;
	padding: 10px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	font-size: 18px;
	height: 40px;
}

.rectangle
{
	text-align: center;
	padding: 8px;
	/*margin-bottom: 20px;*/
	background-color: #44ab53;
	border: 1.5px solid #222;
	border-radius: 15px;
	-webkit-box-shadow:  inset 0px 0px 21px 3px rgba(18,18,17,1);
	-moz-box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
	box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
}

#logo
{
	font-size: 40px;
	text-shadow: 2px 2px 25px white,	
						  0px 1px 1px black;
}
#logo > a
{
	text-decoration: none;
	padding-bottom:1px;
	color: inherit;
}

#logo > a:hover
{
	letter-spacing:0.2px;
}

#login
{
	padding-top: 12px;
}

.login-icon
{
	font-size: 14px;
	height: 30px;
	background-color: transparent; 
	padding-right:0px; 
	margin-right:0px;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.myLoginInputs
{
	max-width: 170px;
	height: 30px;
	font-size: 14px;
	border-radius: 4px;
	border: 0.5px solid black;
	padding: 3px;
	margin-left:0px;
}
.myLoginInputs:focus
{
	color: black;
	border: 1.5px solid black;
}
.myLoginInputs[type=submit]
{
	margin-top: 3px;
	margin-left: 10px;
	width: 90px;
	background-color: #44bc53;
	cursor: pointer;
	color: white;
	text-shadow:
	1px 1px 0 black;
	outline: none;
	-webkit-box-shadow: inset 0px 0px 41px 9px rgba(18,18,17,1);
	-moz-box-shadow: inset 0px 0px 41px 9px rgba(18,18,17,1);
	box-shadow: inset 0px 0px 11px 3px rgba(18,18,17,1);

}
.myLoginInputs[type=submit]:hover
{
	background-color: #449953;
	text-shadow: 1px 1px 1px black;
}

.registerForm
{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	max-width: 450px;
	font-size: 24px;
	margin-top: 50px;
	text-align: center;
	border-radius: 15px;
	border-color: #444444;
	padding-top: 15px;
	-webkit-box-shadow: inset 0px 0px 11px 5px #444444;
	-moz-box-shadow: inset 0px 0px 11px 5px #444444;
	box-shadow: inset 0px 0px 11px 5px #444444;
}

.myRegisterInputs
{
	height: 40px;
	padding: 3px;
	font-size: 18px;
	border: 1.5px solid #44ab53;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.myRegisterInputs[type=text]
{
	margin-top: 20px;
}
.myRegisterInputs:focus
{
	-webkit-box-shadow: inset 0px 0px 140px -50px #44ab53;
	-moz-box-shadow: inset 0px 0px 140px -50px #44ab53;
	box-shadow: inset 0px 0px 140px -50px #44ab53;	
	outline: none;
	background-color: white;
}

.myRegisterInputs[type=submit]
{
	height: 44px;
	width: 160px;
	background-color: #44ab53;
	font-size:20px;
	color: white;
	margin-top: 30px;
	margin-bottom: 40px;
	border-radius: 10px;
	cursor: pointer;
	border: 1.5px solid #222;
	-webkit-box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
	-moz-box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
	box-shadow: inset 0px 0px 21px 2px rgba(18,18,17,1);		
	text-shadow: 0.5px 0.5px 0.5px black,
						  -0.5px 0.5px 0.5px black,
						  0.5px -0.5px 0.5px black,
						  -0.5px -0.5px 0.5px black;		
}
.myRegisterInputs[type=submit]:hover
{
	height: 46px;
	width: 162px;
	margin-top: 29px;
	margin-bottom: 39px;
	
}

.menu-icon
{
	height: 26px;
	font-size: 26px;
	background-color: transparent; 
	padding: 2px;
}

.menu
{
	text-align: center;
	font-size: 26px;
	margin-top: 80px;
}

.menu > ul 
{
	
	list-style-type: none;
	text-shadow: 1px 1px 0 black;
	padding-left: 3px;
	
}
.menu > ul >li
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	width: 250px;
	height: 40px;
}

.menu > ul >li:hover
{
	width: 256px;
}

.menu > ul a
{
	padding: 6px;
	text-decoration: none;
	display: block;
	background-color: #44ab53;
	color: #ddd;
	-webkit-box-shadow: inset 0px 0px 41px 9px rgba(18,18,17,1);
	-moz-box-shadow: inset 0px 0px 41px 9px rgba(18,18,17,1);
	box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
	border: 2px solid #222;
	border-radius: 15px;
	
}

.menu > ul a:hover
{
	color: #545;
	background-color:  #44cb53;
	font-weight: bold;
	text-shadow: 
	1px 1px 20px #ddd,
	-1px -1px 20px #ddd,
	-1px 1px 20px #ddd,
	1px -1px 20px #ddd;
}

#footer
{
	background-color: #44ab53;
	min-width: 1000px;
	margin-top: 40px;
	text-align: center;
	border: 1.5px solid #222;
	border-radius: 15px;
	-webkit-box-shadow: inset 0px 0px 41px 9px rgba(18,18,17,1);
	-moz-box-shadow: inset 0px 0px 41px 9px rgba(18,18,17,1);
	box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
	text-shadow: 1px 1px 20px white,	
						  0px 1px 0px black;
}

#tableContainer
{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	font-size: 17px;
	max-width: 500px;
	min-width: 300px;
	padding-bottom: 10px;
	border-radius: 15px;
	-webkit-box-shadow: inset 0px 0px 41px 9px rgba(18,18,17,1);
	-moz-box-shadow: inset 0px 0px 41px 9px rgba(18,18,17,1);
	box-shadow: inset 0px 0px 11px 5px #444444;
}

.dropdownMenuContainer
{
	margin-top: 35px;
	margin-bottom: -55px;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}

.tableHead
{
	padding: 5px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	font-size: 30px;
	background-color: #44ab53;
	border: 1.5px solid #222;
	border-radius: 15px;
	-webkit-box-shadow:  inset 0px 0px 21px 3px rgba(18,18,17,1);
	-moz-box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
	box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
	text-shadow: 2px 2px 25px white;
	color: #d8d7d8;	
	text-shadow:
	1px 1px 0px black,
	-1.5px -1.5px 0px black,
	-1.5px 1.5px 0px black,
	1px -1px 0px black;	
}

.expenseTable
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	/*border-collapse: collapse; */
	margin-bottom: 15px;
}

.expenseTable td
{
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
}

.amountGetting,
.dateGetting
{
	margin-left: 3px;
	width: 143px;
	height: 30px;
	font-size: 15px;
	margin-right: 5px;
	text-align: right;
	color: #575757;
	padding: 2px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1.5px solid green;
}

.amountGetting:focus,
.dateGetting:focus
{
	color: black;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 140px -50px #44ab53;
	-moz-box-shadow: inset 0px 0px 140px -50px #44ab53;
	box-shadow: inset 0px 0px 140px -50px #44ab53;	
	border: 1.5px solid #333;	
	outline: none;
	background-color: white;
}

.commentGetting
{
	width: 150px;
	height:58px;
	margin-left: 3px;
	padding: 2px;
	font-size: 16px;
	text-align: left;
	color: #575757;
	border-radius: 5px;
	border: 1.5px solid green;
	
}
.commentGetting:focus
{
	color: black;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 140px -50px #44ab53;
	-moz-box-shadow: inset 0px 0px 140px -50px #44ab53;
	box-shadow: inset 0px 0px 140px -45px #44ab53;	
	border: 1.5px solid #333;
	background-color: white;
	outline: none;
}

.nameGetting
{
	max-width: 150px;
	height: 30px;
	margrgin-left:auto;
	margrgin-right:auto;
	
}

.centerInput 
{
	margin-left:auto;
	margin-right: auto;
	text-align:center;
}

.option
{
	margin-left: 3px;
	text-shadow:
	-0.5px 0.5px 0px #44ab53,
	0.5px -0.5px 0px #44ab53,
	-0.5px -0.5px 0px #44ab53;
}

.option > label
{
	font-weight: normal;
	cursor: pointer;
}

.option > label > input
{
	margin-right: 3px;
}

.attributes
{
	margin-left: auto;
	margin-right: auto;
	max-width: 140px;
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
	background-color: #44ab53;
	border: 1.5px solid #222;
	border-radius: 5px;
	text-align: center;
	-webkit-box-shadow:  inset 0px 0px 21px 3px rgba(18,18,17,1);
	-moz-box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
	box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
	text-shadow: 2px 2px 25px white;
	color: #d8d7d8;	
	text-shadow:
	0.5px 0.5px 0px black,
	-1px -1px 0px black,
	-1px 1px 0px black,
	0.5px -0.5px 0px black;
}

.buttons
{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}
.buttons > input
{
	width: 100px;
	margin: 20px 10px 0px 10px;
	height: 40px;
	padding: 6px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	background-color: #44ab53;
	color: #ddd;
	-webkit-box-shadow: inset 0px 0px 41px 9px rgba(18,18,17,1);
	-moz-box-shadow: inset 0px 0px 41px 9px rgba(18,18,17,1);
	box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
	border: 2px solid #222;
	border-radius: 15px;
	text-shadow: 1px 1px 0px black;
	cursor: pointer;
			
}

.add:hover
{
	background-color: #86cf91;
	color: #333;
	text-shadow: 
	2px 2px 25px #ddd,
	-2px 2px 25px #ddd,
	2px -2px 25px #ddd,
	-2px -2px 25px #ddd;
}
.cancel:hover
{
	background-color: #ab5344;
	color: #333;
	text-shadow: 
	2px 2px 25px #ddd,
	-2px 2px 25px #ddd,
	2px -2px 25px #ddd,
	-2px -2px 25px #ddd;
}

.dropButton {
	 width: 160px;
	height: 30px;
	background-color: #44ab53;
	color: #ddd;
	font-size: 15px;
	-webkit-box-shadow: inset 0px 0px 41px 9px rgba(18,18,17,1);
	-moz-box-shadow: inset 0px 0px 41px 9px rgba(18,18,17,1);
	box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
	border: 2px solid #222;
	border-radius: 15px;
	text-shadow: 1px 1px 0px black;
	cursor: default;
}

.dropdownMenu 
{
	padding: 0px;
	float: right;
	margin-bottom:8px;
	margin-top: 10px;
}

.dropdownMenu:hover #periods
{
    display: block;
}

.dropdownMenu:hover .dropButton
{
    background-color: #3e8e41;
}

#periods
 {
	text-align: center;
	background-image: url("img/brushed.png");
    display: none;
    position: absolute; 
    width: 160px;
	border: 1.5px solid #222;
	border-radius: 15px;
	-webkit-box-shadow:  inset 0px 0px 21px 3px rgba(18,18,17,1);
	-moz-box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
	box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
    z-index: 100;
}

.period
{
	padding:10px;
	background-color: transparent;
	border: none;
	width: 100%;
	border-radius: 15px;
}

.customPeriod
{
	text-align: center;
	padding: 0px;
	margin: 0px;
}
.customPeriod > input[type=submit]
{
	width: 100%;
	max-width: 145px;
	margin: 10px 5px 10px 5px;
	height: 30px;
	font-weight: bold;
	text-decoration: none;
	background-color: #44ab53;
	color: #ddd;
	-webkit-box-shadow: inset 0px 0px 41px 9px rgba(18,18,17,1);
	-moz-box-shadow: inset 0px 0px 41px 9px rgba(18,18,17,1);
	box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
	border: 2px solid #222;
	border-radius: 15px;
	text-shadow: 1px 1px 0px black;
	
}

.period:hover
{
	background-color: #44ab53;
	border-radius: 15px;
	-webkit-box-shadow:  inset 0px 0px 21px 3px rgba(18,18,17,1);
	-moz-box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
	box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
	text-shadow: 2px 2px 25px white;
	color: #d8d7d8;	
	text-shadow:
	1px 1px 1px black,
	-1px -1px 1px black,
	-1px 1px 1px black,
	1px -1px 1px black;	
	
}

.left
{
float: left;
}

.right
{
float: right;
}
.balanceTable
{
	width: 95%;
	margin: 0px auto 10px auto;
	/*border-collapse: collapse; */
	padding: 10px;
}

.balanceTable tr
{
	text-shadow:
	-0.5px 0.5px 0px #44ab53,
	0.5px -0.5px 0px #44ab53,
	-0.5px -0.5px 0px #44ab53;
	font-size: 20px;
}

.balanceTable td
{
	padding: 2px;
	max-width: 180px;
}
.balanceTable td:first-child
{
	min-width: 84px;
}

.balanceTable td:last-child
{
	min-width: 52px;
}

.balanceTable tr:hover >td
{
	color: #183e1e;
}
.balanceTable tr:hover
{
	cursor: default;
}

.balance-icon
{
	display: inline;
	font-size: 16px;
	background-color: transparent; 
	padding:2px;
	margin: 1px;
	color: #4468ab;
	cursor: pointer;
}

/*.balanceTable tr:nth-child(even)
{
	text-shadow:
	-0.5px 0.5px 0px #55cd64,
	0.5px -0.5px 0px #55cd64,
	-0.5px -0.5px 0px #55cd64;
}


.balanceTable tr:nth-child(odd)
{
	text-shadow:
	-0.5px 0.5px 0px #339a42,
	0.5px -0.5px 0px #339a42,
	-0.5px -0.5px 0.1px #339a42;
}
*/

.balanceTable tr:last-child > td
{
	padding: 20px 5px 15px 5px;
	color: #1133bb;
	font-weight: bold;
	font-size: 22px;
	border-top: 2px groove #44ab53;
}

.depiction
{
	color: #ed5543;
	font-size: 17px;
	text-shadow: none;
	margin-top: 5px;
	
}

.balance
{
	margin: 10px auto 10px auto;
	text-shadow:
	-0.5px 0.5px 0px #44ab53,
	0.5px -0.5px 0px #44ab53,
	-0.5px -0.5px 0px #44ab53;
	color: #1133bb;
	font-weight: bold;
	font-size: 24px;
}

.settingTable td:first-child
{
	width:38%;
}

.categoryEditTable
{
	width:96%;
	margin: 0px auto 20px auto;
	padding:1px;
	font-size: 16px;
	text-shadow:
	-0.5px 0.5px 0px #44ab53,
	0.5px -0.5px 0px #44ab53,
	-0.5px -0.5px 0px #44ab53;
}
.categoryEditTable tr:first-child td
{
	padding:5px 0px 10px 0px;
}
.categoryEditTable td
{
	min-width: 50px;

}
.editIcons
{
	width: 52px;
}

.categoryOption
{
	display:inline;
	padding: 3px;
	margin: 5px;
	color: #ab5344;
	text-shadow:
	-0.5px 0.5px 0px #ab4468,
	0.5px -0.5px 0px #ab4468,
	-0.5px -0.5px 0px #4468ab;
}

.position
{
	margin: 0 1px 0 1px;
	width: 40px;
	height: 21px;
}

.position >input
{
	margin-right:5px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  
}
.settingsModal
{
	/*background-image: url("img/brushed.png");
	padding: 20px 5px 5px 5px;*/
	color:white;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-shadow:
	-1px 1px 0px black,
	1px -1px 0px black,
	-1px -1px 0px black,
	1px 1px 0px black;
	
}

.settingsModal >input
{
	font-weight: normal;
	text-shadow: none;
}

.categoryNameGetting
{
	height:30px;
	width: 170px;
	font-weight: normal;
}

#successfulRegistration
{
	text-align: center;
	font-size: 24px;
	color:red;
	margin-top: 40px;
}

.error
{
	font-size: 15px;
	color: red;
	margin-top:4px;
}

.message
{
	width: 100%;
	height:16px;
	margin-bottom:-16px;
	text-align: center;
	font-size: 16px;
	font-weight:bold;
	color: #183e1e;
}

.return
{
	font-size: 20px;
	padding: 15px;
}

#piechart
{ 
	pointer-events: none;
	margin-bottom: 10px;
}

.edit
{
	margin: 5px 0 0 0;
	text-align: left;
}
.edit > input
{
	text-align: left;
}

.option a
{
	text-decoration:none;
	color: inherit;
}

.editClick:hover
{
	cursor: pointer; 
	background-color: #44bc53;
	color: #ededed;
}

.editButtons > input
{
	margin: 0 5px 0 5px;
	padding: 2px;
	font-size: 12px;
	width: 62px;
	height: 28px;
}
.pointer
{
	cursor: pointer;
}

.editLink
{
	color: inherit;
	font-size: 14px;
}

.noMargin
{
	margin:0px;
}
.noMargin >input
{
	margin: 1px 0;
}


.lastDataTableContainer
{
	width: 94%;
	margin: 3%;
}

.lastDataEdit
{
	width:100%;
    margin-left:auto; 
    margin-right:auto; 
	font-size: 15px;
}

.lastDataEdit th
{
	padding-bottom: 5px;
}

.lastDataEdit td
{
	padding-bottom: 3px;
	min-width: 88px;
}
.lastDataEdit td:first-child
{
	min-width: 18px;
}
.arrow
{
	font-size: 45px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.arrow:hover
{
	font-weight: bold;
}
.captcha
{
	padding-left: 0px;
	width: 306px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #44ab53;
	border-radius: 5px;
}

.editFormTable
{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	max-width: 200px;
	
}

.editFormTable td
{
	font-size: 17px;
	padding: 0px;
	min-width: 100px;
	font-weight: bold;
	vertical-align: middle;
}

.editFormInputs
{
	width: 160px;
	margin-top: 7px;
	margin-bottom:7px;
}

#logInfo
{
	color: #ddd;
	margin-top: 18px;
	font-size: 14px;
}

.topnav 
{
	background-color: transparent;
	/*overflow: hidden;*/
}

.nav-icon
{
	background-color: transparent;
	margin: 0 2px 0 0;
	padding: 2px;
	height: 16px;
}

.topnav a
{
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 1px auto;
  max-width: 160px;
  padding: 3px;
}
.topnav a:not(.hamburger):hover
{
	background-color: #44ab53;
	border-radius: 7px;
	-webkit-box-shadow:  inset 0px 0px 21px 3px rgba(18,18,17,1);
	-moz-box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
	box-shadow: inset 0px 0px 21px 3px rgba(18,18,17,1);
}
.topnav .hamburger
{
	color: #4468ab;
	display: none;
}
.topnav .hamburger:hover 
{
}

@media screen and (max-width: 740px) 
{
	.topnav a 
	{
		display: none;
	}
	.topnav a.hamburger 
	{
		float: right;
		display: block;
	}
}


@media screen and (max-width: 740px) 
{
	.topnav.responsive
	{
		position: relative;
	}
	
	.topnav.responsive a.hamburger 
	{
		position: absolute;
		right:0;
		top:0;
	}
	
	.topnav.responsive a 
	{
		float: none;
		display: block;
		text-align: center;
	}
}

.mainImage 
{
	/*background-image: url("img/budget.jpg");
	width: 100%;
	height:100%;*/
	position: relative;
}

.mainImage >img
{
	width: 100%;
	border-radius: 15px;
	opacity: 0.3;
	filter: alpha(opacity=30); 
	 -webkit-filter: blur(3.5px); /* Safari 6.0 - 9.0 */
	filter: blur(3.5px);
}

.quotation
{
	position: absolute;
	 top:50%;
	 letf: 50%;
	 font-size: 17px;
	 font-weight: bold;
	 color: white;
	 text-shadow: 1px 1px 2px black,
						  -1px 1px 2px black,
						  1px -1px 2px black,
						  -1px -1px 2px black;	
}
.author
{
	color: #4468ab;
	text-shadow: 1px 1px 1px white,
						  -1px 1px 1px white,
						  1px -1px 1px white,
						  -1px -1px 1px white;	
	float:right;
}

.intro
{
	font-size: 17px;
	font-weight: bold;
	padding: 15px;
	text-align: justify;
	text-justify: inter-word;
	text-shadow: 1px 1px 2px white,
						  -1px 1px 2px white,
						  1px -1px 2px white,
						  -1px -1px 2px white;	
}

.regLink
{
	max-width: 250px;
	width: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 10px
}

.limitInfo
{
	max-width: 100%;
	margin-top: -18px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 13px;
	padding: 5px;
}

.red
{
	background-color: #cd4353;
}